.center-tabs {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  height: 64px;
}
